@import '../../scss_base/starter';
@import 'base';

//Body 
body {
    @include content-wraper($width-desktop);
    background-color: $color-neu-white;
    font-family: $font-kumbh-sans, $font-fallback; 
    //Responsive typography
    font-size: calc($font-size + 0.1vw);
    min-height: 100vh; //Basically, if the content is less enough, then it will try and span to 100vh, if more, it will not hold back to grow

    > * {
        margin: 0 auto;
        width: 85%;
    }
}

//For this particular project, max-content width
//Header area
nav {
    @include flex($align: center);
    gap: 30px;  

    $nav-padding: 15px;
    padding: $nav-padding 0;
    border-bottom: 1px solid $color-neu-grayish-blue;

    ul {
        @include flex();
        gap: 25px;
    }

    a {
        color: $color-neu-dark-grayish-blue;

    }

    li:hover{
        position: relative;
    }
    li:hover::before{
        content: '';
        position: absolute;
        bottom: -($nav-padding + 16px);
        width: 100%;
        height: 0;
        border-bottom: 1px solid $color-pri-orange;
    }

    //Cart-profile
    .cart-profile {
        margin-left: auto;
        @include flex($align: center);
        gap: 30px;

        .cart {
            width: 25px;
            height: 25px;
        }

        .profile {
            width: 50px;
            height: 50px;
        }
    }
}

//Main area
main {
    @include grid($column: 1fr 1fr);
    padding: 50px 0;


    .product-img {
        grid-column: 1/2;
    }

    .product-detail {
        grid-column: 2/3;
    }
}

//Product image
.product-img {
    @include flex($direction: column);
    gap: 30px;

    $img-border-radius: 30px;
    img {
        height: auto;
        width: 100%;
        //How to check for max-width min-width ?
        max-width: 700px; 

        cursor: pointer;
        border-radius: $img-border-radius;
    }

    &-detail{

       //Grid image carousel
        ul {
            @include grid($column: 1fr, $row: 1fr);
            //For the navigation next and prev button
            position: relative;
        }

        li {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        li{
            opacity: 0;
            z-index: -1;
            transition: 200ms opacity ease-in-out;
            transition-delay: 200ms;
        }

        li[data-active-image] {
            transition-delay: 0ms;
            opacity: 1;
            z-index: 0;
            cursor: pointer;
        }

        li[data-button-next], li[data-button-prev] {
            display: none;
            position: absolute;
            top: 50%;
            opacity: 1;
            z-index: 1;

            border-radius: 40px;
            padding: 10px;
            background-color: $color-neu-white;
            box-shadow: 1px 2px 2px 1px rgba($color-neu-black, 0.2);

            img {
                width: 25px;
                height: 25px;
            }
        }
        li[data-button-next] {
            right: -5%;
        }
        li[data-button-prev] {
            left: -5%;
        }
    }

    &-variation{

        ul {
            @include grid($column: repeat(4, 1fr));
            gap: 15px;
        }

        li[data-active-overlay],  li[data-active-overlay]::before{
            border-radius: $img-border-radius;
        }

        li[data-active-overlay] {
            position: relative;
            border: 2px solid $color-pri-orange;
        }

        li[data-active-overlay]::before{
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: $color-neu-white;
            opacity: 0.7;
        }
    }
}

//Product detail
.product-detail {
    @include flex($direction: column, $justify: center);
    gap: 10px;
    padding: 95px;

    &-maker{
        color: $color-pri-orange;
        margin-bottom: 15px;
    }

    &-tittle{
        color: $color-neu-black;
        font-size: $font-size * 2.65;
        font-weight: $font-weight-2;
    }

    &-description{
        color: $color-neu-dark-grayish-blue;
    }

    &-price{
        width: 40%;
        @include grid($column: repeat(2,1fr),$row: repeat(2,1fr));
        @include defineGridArea((
            ".current-price": cp,
            ".discount": dc,
            ".previous-price": pp
        ));
        grid-template-areas: 
            "cp dc"
            "pp pp"
        ;
        align-items: center;
        column-gap: 30px;
        row-gap: 10px;

        .current-price {
            font-size: $font-size * 1.5;
            font-weight: $font-weight-2;
        }
        
        .discount {
            text-align: center;
            border-radius: 5px;
            background-color: $color-pri-pale-orange;
            color: $color-pri-orange;
        }

        .previous-price {
            color: $color-neu-grayish-blue;
        }

    }

    //Notice for more than 10 pairs
    h5 {
        color: $color-neu-dark-grayish-blue;
        font-weight: 1;
    }
}

//
.product-detail-sale{
    @include flex();
    gap: 10px;

    &-qtty {
        flex: 1;

        @include grid($column: 1fr 1fr 1fr);
        background-color: $color-neu-light-grayish-blue;
        padding: 10px 15px;
        border-radius: 15px;

        //Since this is a hack, bascially, 2 button with js funtion to 
        //increase or decrease the input number, the input field
        //itself is readonly. Thus achieving the look.
        //Source:
        //https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
        // Chrome, Safari, Edge, Opera 
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    
        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }

        input[type="number"]{
            @extend %reset-margin-padding;
            font-weight: $font-weight-2;
            color: $color-neu-black;
            text-align: center;
            border: none; 

            max-width: 70px;
            background-color: transparent;
        }

        button {
            font-size: $font-size * 1.5;
            font-weight: $font-weight-2;
            color: $color-pri-orange;
            border: none;
            background-color: transparent;
        }
    }

    &-addtocart{
        flex: 3;

        button {
            @extend %reset-margin-padding;
            background-color: $color-pri-orange;
            border: none;
            color: $color-neu-white;
            border-radius: 10px;
            padding: 15px;
            width: 100%;
        }

    }
}