doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  displays site properly based on user's device 
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
    title Frontend Mentor | E-commerce product page
    //  Feel free to remove these styles or customise in your own stylesheet 👍 
    style
      .attribution { font-size: 11px; text-align: center; }
      .attribution a { color: hsl(228, 45%, 44%); }
      
  body
    .body-dark-overlay
      // 
        This is the same as product-img below, although shares the same class but they
        appear in different context. If you are using html template engine, then
        Images and their desription are things you need to replace with variables.
      
      .product-img#active-box 
        i(id="close-btn" class="fa-sharp fa-solid fa-xmark fa-2xl")
        .product-img-detail
          ul
            li(data-active-image)
              img(id="#item1" src="./images/image-product-1.jpg", width="700", height="700", alt="sneaker picture #1")
            li
              img(id="#item2" src="./images/image-product-2.jpg", width="700", height="700", alt="sneaker picture #2")
            li
              img(id="#item3" src="./images/image-product-3.jpg", width="700", height="700", alt="sneaker picture #3")
            li
              img(id="#item4" src="./images/image-product-4.jpg", width="700", height="700", alt="sneaker picture #4")
          button(data-button-prev) <
          button(data-button-next) >
        .product-img-variation
          ul
            li(data-active-overlay)
              img(src="./images/image-product-1-thumbnail.jpg", width="110", height="110", alt="sneaker picture #1 thumbnail")
            li 
              img(src="./images/image-product-2-thumbnail.jpg", width="110", height="110", alt="sneaker picture #2 thumbnail")
            li
              img(src="./images/image-product-3-thumbnail.jpg", width="110", height="110", alt="sneaker picture #3 thumbnail")
            li
              img(src="./images/image-product-4-thumbnail.jpg", width="110", height="110", alt="sneaker picture #4 thumbnail")
 
    header
      nav 
        img(id="mb-btn" src="./images/icon-menu.svg", height="20" , width="25", alt="Hamburger button only displayed on mobile layout")
        .logo 
          img(src="./images/logo.svg", alt="sneakers logo", width="140" height = "20")
        ul
          img(id="mb-close-btn" src="./images/icon-close.svg", width="20", height="20", alt="close button for the hamburger menu on mobile layout")
          li
            a(href="#") Collection
          li
            a(href="#") Men
          li
            a(href="#") Women
          li
            a(href="#") About
          li
            a(href="#") Contacts
        .cart-profile
          #cart-content-btn
            i(class="fa-solid fa-cart-shopping fa-lg")
            span#cart-notification
          //Toggle to display cart-content
          .cart-content 
            .cart-header Cart
            //.cart-list Your cart is empty. Empty state, it should be like this, then add or remove using javascript.
            .cart-list 
              .items
              button Checkout
          img(src="./images/image-avatar.png", alt="user avatar").profile

    main 
      section.product-img#img-detail
        .product-img-detail
          ul
            li(data-active-image)
              img(id="#item1" src="./images/image-product-1.jpg", height="700", width="700", alt="sneaker picture #1")
            li
              img(id="#item2" src="./images/image-product-2.jpg", height="700", width="700", alt="sneaker picture #2")
            li
              img(id="#item3" src="./images/image-product-3.jpg", height="700", width="700", alt="sneaker picture #3")
            li
              img(id="#item4" src="./images/image-product-4.jpg", height="700", width="700", alt="sneaker picture #4")
          button(data-button-prev) <
          button(data-button-next) >
        .product-img-variation
          ul
            li(data-active-overlay)
              img(src="./images/image-product-1-thumbnail.jpg", height="110", width="110", alt="sneaker picture #1 thumbnail")
            li 
              img(src="./images/image-product-2-thumbnail.jpg", height="110", width="110", alt="sneaker picture #2 thumbnail")
            li
              img(src="./images/image-product-3-thumbnail.jpg", height="110", width="110", alt="sneaker picture #3 thumbnail")
            li
              img(src="./images/image-product-4-thumbnail.jpg", height="110", width="110", alt="sneaker picture #4 thumbnail")
      section.product-detail
        h3.product-detail-maker SNEAKER COMPANY
        h4.product-detail-tittle Fall Limited Edition Sneakers
        p.product-detail-description These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.
        .product-detail-price 
          .current-price $125.00 
          .discount 50% 
          .previous-price $250.00
        .product-detail-sale
          .product-detail-sale-qtty
            button#cart-decrement -
            input(type="number" name="quantity" min="1" value="1" readonly)#cart-input
            button#cart-increment +
          .product-detail-sale-addtocart 
            button <i class="fa-solid fa-cart-arrow-down"></i> Add to cart
        h5 * For more than 10 pairs, contact the nearest shop to get further discount.

  script(src="script.js") 