doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //  displays site properly based on user's device 
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
    title Frontend Mentor | E-commerce product page
    //  Feel free to remove these styles or customise in your own stylesheet 👍 
    style
      .attribution { font-size: 11px; text-align: center; }
      .attribution a { color: hsl(228, 45%, 44%); }
      
  body
    .body-dark-overlay
      img(id="close-btn" src="./images/icon-close.svg", alt="")
      //This is the same as product-img below, although shares the same class but they
      //appear in different context. If you are using html template engine, then
      //Images and their desription are the things you need to put variables to
      //replace them with.
      .product-img#active-box 
        .product-img-detail
          ul
            li(data-active-image)
              img(id="#item1" src="./images/image-product-1.jpg", alt="sneaker picture #1")
            li
              img(id="#item2" src="./images/image-product-2.jpg", alt="sneaker picture #2")
            li
              img(id="#item3" src="./images/image-product-3.jpg", alt="sneaker picture #3")
            li
              img(id="#item4" src="./images/image-product-4.jpg", alt="sneaker picture #4")
          button(data-button-prev) <
          button(data-button-next) >
        .product-img-variation
          ul
            li(data-active-overlay)
              img(src="./images/image-product-1-thumbnail.jpg", alt="sneaker picture #1 thumbnail")
            li 
              img(src="./images/image-product-2-thumbnail.jpg", alt="sneaker picture #2 thumbnail")
            li
              img(src="./images/image-product-3-thumbnail.jpg", alt="sneaker picture #3 thumbnail")
            li
              img(src="./images/image-product-4-thumbnail.jpg", alt="sneaker picture #4 thumbnail")
 
    header
      nav 
        .logo 
          img(src="./images/logo.svg", alt="sneakers logo")
        ul
          li
            a(href="#") Collection
          li
            a(href="#") Men
          li
            a(href="#") Women
          li
            a(href="#") About
          li
            a(href="#") Contacts
        .cart-profile
          img(src="./images/icon-cart.svg", alt="shopping cart icon").cart
          img(src="./images/image-avatar.png", alt="user avatar").profile

    main 
      .product-img#img-detail
        .product-img-detail
          ul
            li(data-active-image)
              img(id="#item1" src="./images/image-product-1.jpg", alt="sneaker picture #1")
            li
              img(id="#item2" src="./images/image-product-2.jpg", alt="sneaker picture #2")
            li
              img(id="#item3" src="./images/image-product-3.jpg", alt="sneaker picture #3")
            li
              img(id="#item4" src="./images/image-product-4.jpg", alt="sneaker picture #4")
          button(data-button-prev) <
          button(data-button-next) >
        .product-img-variation
          ul
            li(data-active-overlay)
              img(src="./images/image-product-1-thumbnail.jpg", alt="sneaker picture #1 thumbnail")
            li 
              img(src="./images/image-product-2-thumbnail.jpg", alt="sneaker picture #2 thumbnail")
            li
              img(src="./images/image-product-3-thumbnail.jpg", alt="sneaker picture #3 thumbnail")
            li
              img(src="./images/image-product-4-thumbnail.jpg", alt="sneaker picture #4 thumbnail")
      .product-detail
        h3.product-detail-maker SNEAKER COMPANY
        h4.product-detail-tittle Fall Limited Edition Sneakers
        p.product-detail-description These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.
        .product-detail-price 
          .current-price $125.00 
          .discount 50% 
          .previous-price <del>$250.00</del>
        .product-detail-sale
          .product-detail-sale-qtty
            button#cart-decrement -
            input(type="number" name="quantity" min="0" value="0" readonly)#cart-input
            button#cart-increment +
          .product-detail-sale-addtocart 
            button <i class="fa-solid fa-cart-arrow-down"></i> Add to cart
        h5 * For more than 10 pairs, contact the nearest shop to get further discount.
        

  script(src="script.js" defer) 