@import url("https://fonts.googleapis.com/css?family=Kumbh+Sans:400");
*, *::before, *::after {
  box-sizing: border-box;
}

.product-detail-sale-addtocart button, .product-detail-sale-qtty input[type=number], h3, h4, ul, body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  min-height: auto;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../font/kumbh-sans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: hsl(0deg, 0%, 100%);
  font-family: "Kumbh Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

nav {
  max-width: 85vw;
  min-height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
nav .logo {
  font-weight: 700;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 25px;
}
nav a {
  font-family: "Kumbh Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: hsl(219deg, 9%, 45%);
}
nav li:hover {
  position: relative;
}
nav li:hover::before {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 0;
  border-bottom: 1px solid red;
  z-index: 1;
  transition: 200ms;
  transform: scale(1);
}
nav .cart-profile {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 30px;
}
nav .cart-profile .cart {
  width: 25px;
  height: 25px;
}
nav .cart-profile .profile {
  width: 50px;
  height: 50px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
  max-width: 85vw;
  min-height: auto;
  margin: 0 auto;
  padding: 50px 0;
}
main .product-img {
  grid-column: 1/2;
}
main .product-detail {
  grid-column: 2/3;
}

.product-img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 30px;
}
.product-img img {
  height: auto;
  width: 100%;
  cursor: pointer;
  border-radius: 30px;
}
.product-img .body-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background-color: hsl(0deg, 0%, 0%);
  opacity: 0;
  cursor: pointer;
}
.product-img .body-overlay[data-active-body-overlay] {
  z-index: 1;
  opacity: 0.8;
}
.body-fixed {
  position: fixed;
  inset: 0;
}

.product-img-detail ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
}
.product-img-detail li {
  grid-column: 1/2;
  grid-row: 1/2;
}
.product-img-detail li {
  opacity: 0;
  z-index: -1;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.product-img-detail li[data-button-next], .product-img-detail li[data-button-prev] {
  display: none;
  position: absolute;
  top: 50%;
  opacity: 1;
  z-index: 1;
  border-radius: 40px;
  padding: 10px;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.6);
}
.product-img-detail li[data-button-next] img, .product-img-detail li[data-button-prev] img {
  width: 25px;
  height: 25px;
}
.product-img-detail li[data-button-next] {
  right: -5%;
}
.product-img-detail li[data-button-prev] {
  left: -5%;
}
.product-img-detail li[data-active-image] {
  transition-delay: 0ms;
  opacity: 1;
  z-index: 0;
  cursor: pointer;
}
.product-img-variation ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  gap: 15px;
}
.product-img-variation img {
  width: 100%;
  height: 100%;
}
.product-img-variation li[data-active-overlay], .product-img-variation li[data-active-overlay]::before {
  border-radius: 30px;
}
.product-img-variation li[data-active-overlay] {
  position: relative;
  border: 2px solid hsl(26deg, 100%, 55%);
}
.product-img-variation li[data-active-overlay]::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0deg, 0%, 100%);
  opacity: 0.7;
}

.product-img[data-active-overlay] {
  position: fixed;
  top: 0;
}

.product-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  gap: 10px;
  padding: 40px;
}
.product-detail-maker {
  color: hsl(26deg, 100%, 55%);
  margin-bottom: 20px;
}
.product-detail-tittle {
  color: hsl(0deg, 0%, 0%);
  font-size: 48px;
  font-weight: 700;
}
.product-detail-description {
  color: hsl(219deg, 9%, 45%);
}
.product-detail-price {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "cp dc" "pp pp";
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}
.product-detail-price .current-price {
  grid-area: cp;
}
.product-detail-price .discount {
  grid-area: dc;
}
.product-detail-price .previous-price {
  grid-area: pp;
}
.product-detail-price .current-price {
  font-size: 24px;
  font-weight: 700;
}
.product-detail-price .discount {
  text-align: center;
  border-radius: 5px;
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
}
.product-detail-price .previous-price {
  color: hsl(220deg, 14%, 75%);
}
.product-detail h5 {
  color: hsl(219deg, 9%, 45%);
  font-weight: 1;
}

.product-detail-sale {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 10px;
}
.product-detail-sale-qtty {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: none;
  background-color: hsl(223deg, 64%, 98%);
  padding: 10px 15px;
  border-radius: 15px;
  /* Firefox */
}
.product-detail-sale-qtty input::-webkit-outer-spin-button,
.product-detail-sale-qtty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-detail-sale-qtty input[type=number] {
  -moz-appearance: textfield;
}
.product-detail-sale-qtty input[type=number] {
  font-family: "Kumbh Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
  text-align: center;
  border: none;
  max-width: 70px;
  background-color: transparent;
}
.product-detail-sale-qtty button {
  font-family: "Kumbh Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: hsl(26deg, 100%, 55%);
  border: none;
  background-color: transparent;
}
.product-detail-sale-addtocart {
  flex: 3;
  position: relative;
}
.product-detail-sale-addtocart img {
  position: absolute;
  top: 35%;
  left: 25%;
}
.product-detail-sale-addtocart button {
  border: none;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
